.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);

}

* {
  box-sizing: border-box;
}

.wrapper {
  background-color:transparent;
}

.wrapper > div {
  /* border: 1px solid #000000;
  border-radius: 5px; */
  background-color: transparent;
  padding: 15px;
  color: #000000;
}

.border-left{background-color: rgba(210, 180, 140, 0.5);}

.border-right{background-color: rgba(210, 180, 140, 0.5);}


header {
  text-shadow:
      2px 2px 0 #000, 
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000;
      text-align: center;
}
h1{font-size: 3em;
  color: wheat;}
  h2
   {color: ivory;
    text-align:center;
  }
  h2{font-size: 1em;
    color: wheat;}
    h2
     {color: ivory;
      text-align:center;
    }
h3{color: ivory; 
   text-shadow:
  2px 2px 0 #000, 
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000;
text-align:center;}
  #main-image {
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
 }


  .Beginning, .Middle{
    text-align:center;
    text-shadow:
    1px 1px 0 #000, 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
    color:antiquewhite;}


  .End{text-align:center;
        text-shadow:
        1px 1px 0 #000, 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
        color:antiquewhite;
      margin: top 20px;
    margin-left:auto;}

  .inline-image1 {
    height:250px;
    width: auto;
     display:block;
     float:left;
     margin: 0px 0px 15px 15px;
     object-position:bottom;
    }

  .inline-image2 {
    height:150px;
    width:auto;
      display:block;
      float:right;
      object-position:top;
     }

    .sources{
      text-align:center;
      font-weight:bolder;
      color:wheat;
    }
  